//  ----------------------------------------------------------------------
//  =RESET
//  ----------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    all: unset;
}




//  ----------------------------------------------------------------------
//  =VARS
//  ----------------------------------------------------------------------

$cols:             4;
$cols-total:       4;
$cols-fixed-total: 4;
$cols-css-total:   4;

$gutter:       20px;
$gutter-loose: $gutter * 2;
$gutter-tight: $gutter * .5;




//  ----------------------------------------------------------------------
//  =DEPENDENCIES
//  ----------------------------------------------------------------------

@import 'gridiron';




//  ----------------------------------------------------------------------
//  =VARIED GUTTERS
//  ----------------------------------------------------------------------

.cols-loose { @include cols-this($gutter-loose); }
.cols-tight { @include cols-this($gutter-tight); }



//  ----------------------------------------------------------------------
//  =DEMO
//  ----------------------------------------------------------------------

.section {
    margin: 0 0 $gutter;
}

.grid-col-content {
    height: 250px;
    background: lightgreen;
}